a {
    text-decoration: none;
    color: #204868;
}
a:visited {
    color: #784060;
}
#ournames {
    font-family: Parisienne, ui-serif;
    color: #203050;
}
h3,h4 {
    font-family: Parisienne;
    font-size: 72px;
}
h5 {
    font-size: 2em;
}
h3#rsvp {
    font-family: Quicksand, ui-sans-serif;
}
body {
    text-align: center;
    font-family: Quicksand, ui-sans-serif;
    display: block;
    font-size: 1.5em;
    background-color: #B0B8B0;
}
dl {
}
dt {
    width: 49%;
}
dd {
}
div#nav {
    position: sticky;
    top: 1px;
}
menu {
    list-style: none;
    display: flex;
    padding-top: 20px;
    box-sizing: border-box;
}
li.nav {
    width: 25%;
}
img {
    width: 100%;
}
img#headpic {
    margin-top: -7px;
}
img#footpic {
    margin-bottom: -5px;
}
img#us {
    height: auto;
    width:40%;
    display: inline-block;
}
div.signs div.map {
    margin: 5em;
    max-width: 100%;
    display: inline-block;
}
img.sign {
    height: auto;
    width: 40%;
    margin: 1em;
}

@media (min-width:300px) and (max-width:1000px) {
    body {
        font-size: 3em;
    }
    h3,h4 {
        font-size: 2em;
    }
    #ournames {
        font-size: 2em;
    }
    hr::after {
        top: -30px;
    }
}

@media (min-width:1000px) {
    hr::after {
        top: -13px;
    }
}

#initials {
    margin-top: 100px;
    font-weight: normal;
    font-size: 62px;
}
hr {
    width: 80%;
    height: 5px;
    border: none;
    border-top: 3px double;
    overflow: visible;
}
hr::after {
    content: '♥️ ♥️ ♥️';
    padding: 0 4px;
    position: relative;
    color: transparent;
    text-shadow: 0 0 0 #582848;
}
